= javascript_include_tag :application

.container
  .app_description Welcome to Tupac - A Web UI wrapper for Deployment and Scripted SysAdmin Tasks

  %p.logged_in_as
    You are logged in as "application developer"

  %h3
    Environments
  %p
    %ul.environments_list
      - @environments.each do |e|
        %li
          %a{:href => environment_path(e.name)}<
            %span.environment_icon{"data-color" => "#{uniq_env_color(e.name)}"}
            #{e.name} #{(" - " + e.description) if e.description.present?}

  %p.main_action_links
    %a{:href => new_environment_path}Create New Environment


  %h3
    Commands Available
  %p
    %ul.commands_list
      - @commands.each do |c|
        %li 
          %a{:href => "#{edit_command_path(c)}"} #{c.name || "Unnamed Command"}
  %p.main_action_links
    %a{:href => new_command_path}Create New Command

