%h3 Run Command/Deployment on Environment: #{@environment.name}

#command_deploy
  = form_for @environment, :url => run_command_command_url do |f|
    = f.hidden_field :environment, :value => @environment.name

    %h3 1. Select target servers on which to run commands/receive deployment
    - @servers.each do |server|
      = check_box "server", server.name, {:class => "command_server", 'data-name' => server.name, 'data-pub_ip' => server.pub_ip, 'data-priv_ip' => server.priv_ip, 'data-dns' => server.fqdn}
      = label "server", server.name, "#{server.name} [Role: #{server.role}, Description: #{server.description}, DNS: #{server.fqdn}]", {:class => "for_checkbox"}
      %br

    %h3 2. Select a command/deployment to run

    .select_command
      = select_tag :command, options_for_select(@commands), {:include_blank => true}

    .command_variables.hidden
      %h4 Variables available for this command:
      #command_variable_container
    .command_preview.hidden
      %h4 Command which will be run on each server:
      %textarea{:class => 'command command_text', :readonly => 'readonly'}

    = f.submit "Run Command", :id => "run_command", :disabled => 'disabled'
    .running_command.hidden
      Running Command... 
      %img{:src => '/assets/running-spinner.gif'}

%section.command_results.hidden
  %h3 Command Results
  #command_result_log
