%h3 Run Deployment to Environment: #{@environment.name}

#command_deploy
  = form_for @environment, :url => run_command_command_url do |f|
    = f.hidden_field :environment, :value => @environment.name

    %h3 1. Select target servers for deployment
    - @servers.each do |server|
      = check_box "server", server.name, {:class => "command_server"}
      = label "server", server.name, "#{server.name} [Role: #{server.role}]", {:class => "for_checkbox"}
      %br

    %h3 2. Select a command to run

    .select_command
      = select_tag :command, options_for_select(@commands), {:include_blank => true}

    .command_variables.hidden
      %h3 Command Variables
      %p Complete these variables with valid data. Previous values are available by autocomplete.

    = f.submit "Run Command", :id => "run_command", :disabled => 'disabled'

%section.command_results.hidden
  %h3 Command Results
  #command_result_log
