%h2 Environment: #{@environment.name}

%ul.servers_list
- @servers.each do |s|
  %li
    %a{:href => "#"} #{s.name}
    \- #{s.description}
    -#%a{:href => sserver_path(s)erver_path(s)} #{s.name} - #{s.description}

%br
.main_action_links
  %p.environment_task_actions
    %a{:href => issue_command_environment_path(@environment.name)}
      %img{:src => "/assets/command.png"}
    %a{:href => issue_command_environment_path(@environment.name)} Run Command on this Environment
  %p.environment_task_actions
    %a{:href => issue_command_environment_path(@environment.name)}
      %img{:src => "/assets/deploy.png"}
    %a{:href => issue_deployment_environment_path(@environment.name)} Deployment to this Environment
