:javascript
  $(function() {
    $cmd_textarea = $('#command_command');

    $('dl#command_variables dt').click(function(e) {
      var cmd_var = $(this).text();
      var selection = $cmd_textarea.data("lastSelection");
      $cmd_textarea.focus();
      $cmd_textarea.setSelection(selection.start, selection.end);
      $cmd_textarea.replaceSelectedText(cmd_var);
    });

    function saveSelection() {
      $cmd_textarea.data("lastSelection", $cmd_textarea.getSelection());
    }

    $cmd_textarea.focusout(saveSelection);
    $cmd_textarea.bind('beforedeactivate', function() { // Same as above, for IE
      saveSelection();
      $cmd_textarea.unbind('focusout');
    });
  });

.container

  = render :partial => "sudo_instructions" if @update_sudo.present?

  %h2
    - if @command.persisted?
      Update a Command
    - else
      Create new Command

  %p This is a command or chained set of commands which can be run locally or on a remote target server. you may provide the following in this command:

  %div
    %ul
      %li Alphanumeric command strings and static arguments
      %li Properly quoted multi-word strings.
      %li 
        Mustache-style argument variables such as:
        %dl#command_variables
          %dt {{servers}}
          %dd Server name, or list of names to pass to a command

          %dt {{environment}}
          %dd Environment Name

          %dt {{date}}
          %dd UTC Datetime in iso-8601 format (2012-07-18 15:00)

          %dt {{git:user@server/repo}}
          %dd HTTP git repository location - Allows selection of branch/tags for deployment.

          %dt {{github:user/repo}}
          %dd Github git repository - Allows selection of branch/tags for deployment.

          %dt {{other_variable}}
          %dd Other variables. (Keep them to alphanumeric, underscores, spaces, etc. Any shenanigans like shell variables, escapes, and pipes will cause sudo to reject the command.)


  %fieldset
    = form_for @command do |f|
      %div
        = f.label :name, "Command Name"
        = f.text_field :name, :placeholder => "command name"
      %div
        = f.label :is_deployment, "Deployment command?"
        = f.label :is_deployment, "(Deploy scripts run from a designated server and not directly on the target server.)", :class => "sublabel"
        = f.radio_button :is_deployment, true
        %label{:for => "command_is_deployment_true", :class => "for_radio"} Yes, this is a deployment script
        = f.radio_button :is_deployment, false
        %label{:for => "command_is_deployment_false", :class => "for_radio"} No, this is a system command
      %div.clear
        %br
        = f.label :name, "Description"
        = f.text_area :description, :placeholder => "command description"
      %div
        = f.label :name, "Command Contents"
        = f.label :name, "This must be invokable using sudo, so single commands only, no piping, and no shell variables.", :class => "sublabel"
        = f.label :name, "Click variables listed above to insert here.", :class => "sublabel"
        = f.text_area :command, :class => "command", :placeholder => "Enter shell command here"
      %div
        = f.label :sudo_block, "sudoers config"
        %br
        = f.label :sudo_block, "Read-only. Sudo parsable command config. Instructions for updating sudo config given on update.", :class => "sublabel"
        = f.text_area :sudo_block, :readonly => "readonly", :class => "command sudo_config"

      = f.submit "save command"
