.container
  %h2
    - if @command.persisted?
      update a command
    - else 
      create new command

  %p this is a command or chained set of commands which can be run locally or on a remote target server.
  you may provide the following in this command:
  %div
    %ul
      %li alphanumeric command strings and static arguments
      %li 
        mustache-style argument variables such as:
        %li {{server}} - server name
        %li {{environment}} - server's environment
        %li {{date}} - date in iso-8601 format
        %li {{other_variable}} - Other alphanumeric variables. (No spaces or special characters)
      %li properly formatted quoted strings

  %fieldset
    = form_for @command do |f|
      %div
        = f.label :name, "command name"
        = f.text_field :name, :placeholder => "command name"
      %div
        = f.label :name, "command description"
        = f.text_area :description, :placeholder => "command description"
      %div
        = f.label :name, "command contents"
        = f.text_area :command, :class => "command", :placeholder => "enter shell command(s) here. chain multiple commands with ; or &&. newlines will be escaped."
      %div
        = f.label :sudo_block, "sudoers config"
        = f.label "(paste into tupac server's /etc/sudoers.d/tupac or /etc/sudoers)", :class => "sublabel"
        = f.text_area :sudo_block, :readonly => "readonly"

      = f.submit "save command"
