:javascript
  $(document).ready(function() {

    var command_var_template = ' \
      <label for="cmd_var[{{VARIABLE-KEY}}]">{{VARIABLE-KEY}}</label> \
      <input type="text" id="cmd_var_{{VARIABLE-KEY}}" name="cmd_var[{{VARIABLE-KEY}}]" class="cmd_var" /> \
      <br /> \
    ';

    $('.select_command select').change(function() {
      // 1. Get command text

      // 2. Get fields for command variables
      cmd_id = $(this).val();
      $.post('/commands/' + cmd_id + '/get_variables', function(data) {
        $('.command_variables').html('');
        if (data.data) {
          $.each(data.data, function(key, variable_item) {
            for (key in variable_item) {
              cv_html = command_var_template.replace(/{{VARIABLE-KEY}}/g, key);
              cv_html = cv_html.replace(/{{VARIABLE-VAL}}/g, variable_item[key])
              $('.command_variables').append(cv_html);
              $('#cmd_var_'+key).autocomplete({source: variable_item[key]});
              if (variable_item[key].length > 0) {
                $('#cmd_var_'+key).attr('placeholder', 'Type for Autocomplete...')
              }
            }
          });
        } else if (data.error) {
          console.log('ERROR: '+data.error)
        }
      });
    });
  });

%h3 Run Command on Environment: #{@environment.name}

= form_for @environment do |f|

  %h3 1. Select target servers to receive commands or deployment
  - @servers.each do |server|
    = check_box "server", server.name
    = label "server_name", server.name, {:class => "for_checkbox"}
    %br

  %h3 2. Select a command to run

  .select_command
    = select_tag :command, options_for_select(@commands), {:include_blank => true}

  .command_variables


  = f.submit "Run Command!"
