!!!
%html{lang: 'en'}
  %meta{"http-equiv" => "X-UA-Compatible", :content => "chrome=1"}
  %head
    %title
      Tupac: the Web-Based Sysadmin Wrapper

    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    :javascript
      $(document).ready(function() {
        var $env_div = $('div[data-color]');
        var color = $env_div.data('color');
        $env_div.css('border', '4px solid ' + color);
        $('.environment_task_actions').css('box-shadow', '3px 3px ' + color);
        $('#contents').css('background-color', hex2rgb(color, 0.8, 'lighten'));
      });

      function hex2rgb(hex, opacity, lighten) {
        var rgb = hex.replace('#', '').match(/(.{2})/g);
        var i = 3;
        while (i--) {
          rgb[i] = parseInt(rgb[i], 16);
          if (typeof lighten !== 'undefined') {
            rgb[i] = parseInt(rgb[i] + (0.9 * 255)); // Make color 90% lighter
          }
        }
        if (typeof opacity == 'undefined') {
          return 'rgb(' + rgb.join(',') + ')';
        }
        return 'rgba(' + rgb.join(', ') + ', ' + opacity + ')';
      };

  %body
    #wrapper
      %header
        .container
          %a{:href => root_url}
            %h1 Tupac
            %p.tagline Switching up on you ordinary SysAdmins.
      #contents{"data-color" => "#{uniq_env_color(@environment.name)}"}
        .container
          - unless current_page?(root_url)
            .breadcrumbs
              %a{:href => root_url} Back to Home
              | 
              %a{:href => "javascript:history.back()"} Back to Previous

          - if flash[:error]
            .alert-message.error
              %p!= flash[:error]
          - if flash[:notice]
            .alert-message.message
              %p!= flash[:notice]
          - if flash[:warn]
            .alert-message.warn
              %p!= flash[:warn]
          - flash = {}
          = yield
    %footer#footer
      .container
        &copy; Gloo.us/Tango Group 2012
        = Time.now.year if Time.now.year > 2012

    = yield :script
